<app-header titulo="Calendário">
</app-header>

<ion-content>

    <div class="container">
        <ion-button (click)="presentActionSheet()">2021-2</ion-button>
    </div>

</ion-content>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">

            <ion-tab-button routerLink="/inicio">
                <ion-icon name="person-circle"></ion-icon>
                <ion-label>Inicio</ion-label>
            </ion-tab-button>

            <ion-tab-button routerLink="/action-sheet" tab="Mapa">
                <ion-icon name="calculator"></ion-icon>
                <ion-label>Notas</ion-label>
            </ion-tab-button>

            <ion-tab-button routerLink="/inicio" tab="Sobre">
                <ion-icon name="exit"></ion-icon>
                <ion-label>Sair</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>

</ion-content>